@font-face {
    font-family: 'Krub-Bold';
    src: url('../font/Krub-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Krub-Medium';
    src: url('../font/Krub-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Krub-Regular';
    src: url('../font/Krub-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Krub-SemiBold';
    src: url('../font/Krub-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik-Bold';
    src: url('../font/Rubik-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik-Medium';
    src: url('../font/Rubik-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik-Regular';
    src: url('../font/Rubik-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik-SemiBold';
    src: url('../font/Rubik-SemiBold.ttf') format('truetype');
}
