@use '../util' as u;
@import '../util';

.introduction{
    @include container;

    margin: 5rem 0;
    display: flex;

    @include u.breakpoint-down(medium){
        flex-direction: column;
    }

    &__title{
        width: 30%;

        @include u.breakpoint-down(medium){
            width: 100%;
            margin-bottom: 2rem;
        }
        
        .main-title{
            font-family: 'Rubik-SemiBold';
            font-size: u.rem(32);
            color: var(--darkdeep-blue);
        }

        .sub-title{
            margin-bottom: 1rem;
            font-family: 'Rubik-Regular';
            padding: 0.25rem 1.25rem;
            font-size: u.rem(14);
            color: var(--darkdeep-blue);
            width: min-content;
            white-space: nowrap;
            border-left: 3px solid var(--yellow-gold);
            background-color: var(--gray);
        }
    }

    &__body{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include u.breakpoint-down(medium){
            width: 100%;
        }

        .part{
            display: flex;

            @include u.breakpoint-down(medium){
                flex-direction: column;
            }

            .item{
                margin: 1rem 0;
                display: flex;

                .wrapper{
                    width: 120px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-right: 1px solid var(--gray);

                    @include u.breakpoint-down(medium){
                        padding: 1rem;
                        
                        img{
                            padding: 1rem;
                        }
                    }
                }

                .text{
                    padding: 0 1rem;
                    max-width: 250px;

                    .title{
                        font-size: u.rem(18);
                        font-family: 'Rubik-SemiBold';
                        margin-bottom: 1rem;
                        color: var(--darkdeep-blue);
                    }

                    .description{
                        font-family: 'Krub-Medium';
                        font-size: u.rem(14);
                        color: var(--darkdeep-blue);
                    }
                }
            }
        }
    }
}