@use '../util' as u;
@import '../util';

.navbar{
    @include container;
    
    background-color: var(--dark-blue);
    color: var(--white);
    height: 20vh;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include u.breakpoint-down(medium){
        height: auto;
    }

    a, a:visited, a:active {
        color: var(--white)
    }

    &__logo{
        display: flex;
        align-items: center;

        @include u.breakpoint-down(medium){
            margin: 1rem 0;
        }
        
        h1{
            margin: 0 0.75rem;
            font-family: 'Rubik-SemiBold';
            font-size: u.rem(20);
        }
    }

    &__body{
        display: flex;

        @include u.breakpoint-down(medium){
            display: none;
        }

        .item{
            display: flex;
            align-items: center;
            font-family: 'Krub-Medium';
            margin-left: 0.75rem;

            .schedule{
                margin-left: 0.75rem;
            }
        }
    }

    &__mobile-menu{
        display: none;

        @include u.breakpoint-down(medium){
            display: block;
        }

        a{
            svg{
                fill: var(--white);
                outline: 1px solid var(--white);
                border-radius: 0.25rem;
            }
        }

        svg:hover{
            fill: var(--yellow-gold);
            outline: 1px solid var(--yellow-gold);
        }

        .popup-menu{
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            z-index: 501;
            top: 0;
            left: 0;
            background-color: var(--dark-blue);

            .close{
                position: absolute;
                top: 2rem;
                right: 2rem;
            }

            ul{
                position: absolute;
                top: 50%;
                left: 35%;
                transform: translate(-50%, -50%);
                list-style: none;

                li{
                    margin: 3rem 0;
                    font-family: 'Rubik-SemiBold';
                    font-size: u.rem(32);

                    a, a:visited, a:active {
                        color: var(--white);
                    }
    
                    a:hover{
                        color: var(--yellow-gold);
                    }
                }
            }
        }
    }
}