@import '../util';

.navbar{
    @include container;
    background-color: var(--dark-blue);
    color: var(--white);
    height: 20vh;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        display: flex;
        align-items: center;
        
        h1{
            margin: 0 0.75rem;
            font-size: 1.5rem;
            font-family: 'Rubik-SemiBold';
        }
    }

    &__body{
        display: flex;

        .clock{
            display: flex;
            align-items: center;
            font-family: 'Krub-Medium';

            .schedule{
                margin-left: 0.75rem;
            }
        }
    }
}