@use '../util' as u;
@import '../util';

.testimony{
    @include container;

    margin-top: 10rem;
    margin-bottom: 6rem;

    &__head{
        display: flex;
        justify-content: space-between;
        align-items: end;

        .main-title{
            font-family: 'Rubik-SemiBold';
            font-size: u.rem(32);
            color: var(--darkdeep-blue);
        }

        .sub-title{
            margin-bottom: 1rem;
            font-family: 'Rubik-Regular';
            padding: 0.25rem 1.25rem;
            font-size: u.rem(14);
            color: var(--darkdeep-blue);
            width: min-content;
            white-space: nowrap;
            border-left: 3px solid var(--yellow-gold);
            background-color: var(--gray);
        }

        .arrow{
            display: flex;
            align-items: center;
            height: min-content;

            .arrow-left{
                margin-right: 1rem;

                img{
                    height: 45px;
                    width: 45px;
                }
            }

            .arrow-right{
                img{
                    height: 45px;
                    width: 45px;
                }
            }
        }
    }

    &__body{
        margin: 2rem 0;
        display: flex;

        .part-left{
            width: 100%;
            padding: 4rem;
            background-color: var(--gray);
            color: var(--darkdeep-blue);

            .head{
                display: flex;
                align-items: center;
                justify-content: space-between;

                img{
                    width: 48px;
                    height: 48px;
                }

                .user{
                    display: flex;
                    align-items: center;

                    img{
                        width: 72px;
                        height: 72px;
                    }

                    .text{
                        margin-left: 1rem;
                    }

                    .name{
                        font-family: 'Rubik-Medium';
                        font-size: u.rem(16);
                    }

                    .title{
                        font-family: 'Krub-Medium';
                        font-size: u.rem(14);
                    }
                }
            }

            .body{
                margin: 1rem 0;

                p{
                    font-family: 'Krub-Medium';
                    font-style: italic;
                    text-align: justify;
                    margin: 1rem 0;
                }
            }
        }

        .part-right{
            width: 100%;
            padding: 4rem;
            background-color: var(--dark-blue);
            color: var(--white);

            .head{
                display: flex;
                align-items: center;
                justify-content: space-between;

                img{
                    width: 48px;
                    height: 48px;
                }

                .user{
                    display: flex;
                    align-items: center;

                    img{
                        width: 72px;
                        height: 72px;
                    }

                    .text{
                        margin-left: 1rem;
                    }

                    .name{
                        font-family: 'Rubik-Medium';
                        font-size: u.rem(16);
                    }

                    .title{
                        font-family: 'Krub-Medium';
                        font-size: u.rem(14);
                    }
                }
            }

            .body{
                margin: 1rem 0;

                p{
                    font-family: 'Krub-Medium';
                    font-style: italic;
                    text-align: justify;
                    margin: 1rem 0;
                }
            }
        }
    }
}